/* You can add global styles to this file, and also import other style files */


@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula --default, dark --night;
}

@layer base {
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('/assets/fonts/montserrat-static/montserrat-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@theme {
  --font-sans: "Montserrat-Medium", "sans-serif";
}
